

/* Caption Style 4 */
.slide_info{
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
	overflow: hidden;
}
.slide_info .item-avatar {
  max-width: 32px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.block.slide_info .block_media {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.block.slide_info .block_media > div {
	overflow: hidden;
}

.block.slide_info .block_media{
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .block.slide_info:hover .block_media,
.block.slide_info.cs-hover .block_media{
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.block.slide_info .block_content {
	height: 100%;
	width: 60%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
    padding: 15px;
	background: #313b3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.block.slide_info .block_content,.block.slide_info .block_content .star-rating,.block.slide_info .block_content a{color:rgba(255,255,255,0.8);}
.no-touch .block.slide_info:hover .block_content,
.block.slide_info.cs-hover .block_content {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
